.main-container {
  max-width: 83vw;
  height: 95vh;
  margin-left: 20rem;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header_navigation {
  background-color: rgb(18, 18, 18);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.arrows {
  display: flex;
  align-items: center;
}

.header_navigation .navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: #131313;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor:not-allowed;
}

.arrow-left {
  cursor: pointer;
  transition: background-color 0.35s ease;
}

.arrow-left:hover {
  background-color: rgba(43, 42, 42, 0.8);
}

.header_login {
  display: flex;
  align-items: center;
}

.header_search {
  display: flex;
  align-items: center;
  max-width: 22.75rem;
  height: 3rem;
  margin-left: 0.5rem;
  background-color: #242424;
  border-radius: 31.25rem;
  border: 0.0625rem solid transparent;
  cursor: text;
}

.header_search:hover {
  border: 0.0625rem solid #8a8a8a;
}

.header_search img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.625rem;
}

.header_search input {
  background: transparent;
  border: none;
  padding: 0 6.25rem 0 0.75rem;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.header_login .subscribe {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  margin-right: 2rem;
  transition: color 0.35s ease;
}

.header_login .subscribe:hover {
  color: #fff;
}

.header_login .login {
  width: 6.25rem;
  height: 3rem;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2.5rem;
  transition: background-color 0.35s ease;
}

.header_login .login:hover {
  background-color: #4b4b4b;
  color: #fff;
}

.playlist_section {
  width: 100%;
  height: 70vh;
  background-color: #131313;
  border-radius: 0.5rem;
}

.playlist_section-content {
  padding: 2rem;
  height: 82%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.playlist_section .text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: #fff;
  font-family: var(--font-dm-sans);
}

.playlist_section .text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.playlist_section .text h2 {
  font-size: 1.875rem;
}

.hidden {
  display: none;
}

#result-playlists {
  width: 100%;
  height: 100%;
}

.playlist_section .playlist_section-content .cards {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-items: center;
  overflow: hidden;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}

.playlist_section .playlist_section-content .cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.playlist_section .playlist_section-content .cards .card {
  display: flex;
  flex-direction: column;
  max-width: 11.825rem;
  max-height: 10.825rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: var(--font-dm-sans);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  position: relative;
  background-color: #242424;
}

.playlist_section .playlist_section-content .cards .card div {
  height: 100%;
  width: 100%;
}

.playlist_section .playlist_section-content .cards .card span {
  width: 10rem;
  display: block;
}

.playlist_section .playlist_section-content .cards .card img {
  position: absolute;
  bottom: -0.5rem;
  right: -1rem;
  width: 7rem;
  height: 7rem;
  transform: rotate(25deg);
  transition: transform 0.35s ease, bottom 0.35s ease, right 0.35s ease;
}

.playlist_section .playlist_section-content .cards .card:hover img {
  transform: rotate(-20deg) scale(1.5);
  bottom: 0.5rem;
  right: 1rem;
}

.playlist_section .playlist_section-content .cards .card:nth-child(1) {
  background: rgb(0, 100, 80);
}

.playlist_section .playlist_section-content .cards .card:nth-child(2) {
  background-color: rgb(132, 0, 231);
}

.playlist_section .playlist_section-content .cards .card:nth-child(3) {
  background: rgb(30, 50, 100);
}

.playlist_section .playlist_section-content .cards .card:nth-child(4) {
  background: rgb(140, 25, 50);
}

.playlist_section .playlist_section-content .cards .card:nth-child(5) {
  background: rgb(232, 17, 91);
}

.playlist_section .playlist_section-content .cards .card:nth-child(6) {
  background: rgb(83, 122, 161);
}

.playlist_section .playlist_section-content .cards .card:nth-child(7) {
  background: rgb(142, 102, 172);
}

.playlist_section .playlist_section-content .cards .card:nth-child(8) {
  background: rgb(20, 138, 8);
}

.playlist_section .playlist_section-content .cards .card:nth-child(9) {
  background: rgb(30, 50, 100);
}

.playlist_section .playlist_section-content .cards .card:nth-child(10) {
  background: rgb(233, 20, 41);
}

.playlist_section .playlist_section-content .cards .card:nth-child(11) {
  background: rgb(80, 55, 80);
}

.playlist_section .playlist_section-content .cards .card:nth-child(12) {
  background: rgb(216, 64, 0);
}

.playlist_section .playlist_section-content .cards .card:nth-child(13) {
  background: rgb(186, 93, 7);
}

.playlist_section .playlist_section-content .cards .card:nth-child(14) {
  background: rgb(0, 30, 80);
}

.playlist_section .playlist_section-content .cards .card:nth-child(15) {
  background: rgb(60, 30, 80);
}

.playlist_section .playlist_section-content .cards .card:hover {
  background-color: #252525;
  cursor: pointer;
}

/* CARD ARTISTA */

.artist {
  --column-count: 5;
  --grid-gap: 24px;
  --min-container-width: 372px;
}

.hidden {
  display: none;
}

.grid-container {
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  min-width: 767px;
}

.artist-card {
  background: #181818;
  border-radius: 8px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #252525;
  cursor: pointer;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 10px;
  top: 120px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-20px);
}

.play .fa-play:hover {
  padding: 20px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}
/* FIM CARD ARTISTA */
